adbc_driver_manager==1.5.0
adbc_driver_postgresql==1.5.0
adbc_driver_sqlite==1.5.0
aiodns==3.2.0
anywidget==0.9.18
AppKit==0.2.8
async_timeout==5.0.1
atheris==2.3.0
bokeh==3.7.2
boto3==1.37.28
botocore==1.37.28
brotli==1.1.0
brotlicffi==1.1.0.0
chardet==5.2.0
checks==0.2
ConfigParser==7.2.0
contextlib2==21.6.0
cryptography==44.0.2
cudf==0.6.1.post1
curio==1.6
cx_Oracle==8.3.0
cycler==0.12.1
Cython==3.0.12
dask==2025.3.0
dask_expr==2.0.0
datasets==3.5.0
defusedxml==0.7.1
docutils==0.21.2
duckdb==1.2.1
email_validator==2.2.0
eval_type_backport==0.2.2
exceptiongroup==1.2.2
fastparquet==2024.11.0
filelock==3.18.0
Foundation==0.1.0a0.dev1
fqdn==1.5.1
fsspec==2025.3.2
gitdb_speedups==0.1.0
grandalf==0.8
greenlet==3.1.1
gunicorn==23.0.0
h2==4.2.0
HTMLParser==0.0.2
hypothesis==6.130.8
ibis==3.3.0
importlib_metadata==8.6.1
importlib_metadata==8.0.0
importlib_resources==6.5.2
ipython==8.12.3
ipywidgets==8.1.5
isoduration==20.11.0
jnius==1.1.0
JPype1==1.5.2
keyring==25.6.0
langchain_anthropic==0.3.10
langchain_astradb==0.6.0
langchain_aws==0.2.18
langchain_chroma==0.2.2
langchain_cohere==0.4.3
langchain_community==0.3.21
langchain_elasticsearch==0.3.2
langchain_experimental==0.3.4
langchain_fireworks==0.2.9
langchain_google_genai==2.1.2
langchain_google_vertexai==2.0.19
langchain_groq==0.3.2
langchain_huggingface==0.1.2
langchain_mistralai==0.2.10
langchain_mongodb==0.6.0
langchain_neo4j==0.4.0
langchain_ollama==0.3.0
langchain_openai==0.3.12
langchain_pinecone==0.2.4
langchain_postgres==0.0.13
langchain_qdrant==0.2.0
langchain_together==0.3.0
langchainhub==0.1.21
langsmith_pyo3==0.1.0rc5
lark==1.2.2
lxml==5.3.2
mask==1.0.0
matplotlib==3.10.1
modin==0.32.0
mtrand==0.1
numexpr==2.10.2
odfpy==1.4.1
olefile==0.47
openapi_pydantic==0.5.1
openpyxl==3.1.5
outcome==1.3.0.post0
pickle5==0.0.12
pkgutil_resolve_name==1.3.10
plotly==6.0.1
polars==1.26.0
psutil==7.0.0
py==1.11.0
pycares==4.6.0
pycurl==7.45.6
pygraphviz==1.14
PyInstaller==6.12.0
pyodide==0.0.2
pyOpenSSL==25.0.0
PyPDF2==3.0.1
pyperf==2.9.0
pyppeteer==2.0.0
PyQt4==4.11.4
PyQt5==5.15.11
PyQt6==6.8.1
PySide6==6.9.0
pyspark==3.5.5
pysqlcipher3==1.2.0
pytest==8.3.5
python-dotenv==1.1.0
python_calamine==0.3.2
pywin32==310
pyxlsb==1.0.10
qtpy==2.4.3
rapidfuzz==3.13.0
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rfc3987==1.3.8
s3fs==2025.3.2
scipy==1.15.2
scipy_doctest==1.7.1
selenium==4.31.0
sets==0.3.2
setuptools==76.0.0
setuptools_scm==8.2.0
simplejson==3.20.1
simsimd==6.2.1
snowflake==1.2.0
socksio==1.0.0
Sphinx==8.2.3
sqlcipher3==0.5.4
sympy==1.13.3
tables==3.10.2
threadpoolctl==3.6.0
tiktoken==0.9.0
tqdm==4.67.1
traitlets==5.14.3
uri_template==1.3.0
urllib3_secure_extra==0.1.0
uvloop==0.21.0
vegafusion==2.0.2
webcolors==24.11.1
webdriver_manager==4.0.2
xarray==2025.3.1
xlrd==2.0.1
xlsxwriter==3.2.2
xmlrpclib==1.0.1
zstandard==0.23.0
